/* Tampilan atas */
*{
    margin:0px;
    padding:0px;
    }
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color:#77b255;
    margin:0;
}
img{
    width: 9.3%;
    height: 93%;
    margin-top: -10px;
    margin-left: auto;
    padding-left: 10px;
    float: left;
}
nav{
    display: block;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.cari{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}
.button1{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
    background: url("../gambar/Gambar1.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

/* Tampilan Daftar */
form{
    text-align: justify;
    font-size: medium;
    display: block;
    margin: 0px 400px 75px 400px;
    padding: 20px 170px;
    background-color: #FFDE59;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button2{
    border-radius: 5px;
    background: #77b255;
    width: 50px;
    height: 20px;
}
h2{
    text-align: center;
    display: block;
    padding: 5px;
    background-color: #77b255;
    margin: 25px 500px 0px 500px;
    border-radius: 5px;
}
