@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color: #77b255;
    margin:0;
}
img {
    width: 9.3%;
    height: 93%;
    margin-top: -10px;
    margin-left: auto;
    padding-left: 10px;
    float: left;
}
nav{
    display: block;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
	background-image: url('../gambar/Gambar1.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}
.button{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
.search{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}
/* Tampilan Berita */
h2{
    margin-top: 8%;
	text-align: center;
    color: black;
    font-family: 'Crimson Text', serif;
}
/* Cuplikan berita 1 */
.berita1{
	margin-left: 26%;
	width: 50%;
}
.n1{
	background-color:#77b255;
	width: 80%;
	cursor: pointer;
	padding: 2%;
	margin-left: 6%;
}
.n1 img{
	width: 80%;
	margin: 2%;
	padding-left: 8%;
}
.n1 .text1 {
	text-align: justify;
    color: black;
    font-family: 'Crimson Text', serif;
}
.popup1{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}
/* Cuplikan Berita 2 */
.berita2{
	margin-left: 26%;
	width: 50%;
}
.n2{
	background-color:#77b255;
	width: 80%;
	cursor: pointer;
	padding: 2%;
	margin-left: 6%;
	margin-top: 2%;
}
.n2 img{
	width: 80%;
	margin: 2%;
	padding-left: 8%;
}
.n2 .text2 {
	text-align: justify;
    color: black;
    font-family: 'Crimson Text', serif;
}
.popup2{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

/* Kolom Komentar */
.komentar{
	width: 50%;
	height: auto;
	margin-top: 10%;
	margin-left: 25%;
	background-color: #77b255;
}

.tkomen{
	color: black;
	text-align: center;
	font-size: 14pt;
	padding-top: 2%;
}
.tulis2 textarea{
    width: 60%;
    height: 40%;
    margin-top: 1%;
    margin-left: 0%;
    border-radius: 6px;
}
.kirim input{
	width: 100px;
	height: 30px;
	margin: 5%;
    margin-left: 5%;
    background-color: #FFDE59;
}

/* Footer */
footer{
	background: #FFDE59;
	width: 100%;
	height: 30px;
	text-align: center;
    bottom: 0;
}
.footer2{
	padding-top: 5px;
	font-size: 18px;
	color: black;
}

/* JS */
.popcontan{
    background-color:  #FFDE59;
}
.container{
    background-color:  white;
    margin :5% auto 15% auto;
    width: 60%;
}
@keyframes zoomin {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.animated {
    animation: zoomin 0.5s;
}
.close {
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    padding: 5px;
    padding-right: 15px;
}
.content {
    padding: 10px;
}
.content img{
    width: 30%;
    padding-left: 37%;
}





















[

