*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color: #77b255;
    margin:0;
}
img {
    width: 9.3%;
    height: 93%;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: auto;
    float: left;
}
nav{
    display: block;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
	background-image: url('Beranda fix.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}
.button{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
.search{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}
.Kontak{
    background: #4a7e1f;
    width: 100%;
    height: 60px;
    margin-top: 29.5%;
    padding-left: 40%;
}
.Kontak a img{
    padding-top: 15px;
    height: 30px;
    width: 30px;
}
.fb{
    position: relative;
    margin:auto;
    width: 30px;
    height: 30px;
    padding-left:0px;
}
.ig{
    position: relative;
    margin:auto;
    width: 30px;
    height: 30px;
    padding-left:0px;
}
.twt{
    position: relative;
    margin:auto;
    width: 30px;
    height: 30px;
    padding-left:0px;
}
.google{
    position: relative;
    margin:auto;
    width: 30px;
    height: 30px;
    margin-left: 0%;
}
.yt{
    position: relative;
    margin:auto;
    width: 30px;
    height: 30px;
    padding-left:0px;
}
footer{
	background: #FFDE59;
	width: 100%;
	height: 30px;
	text-align: center;
    bottom: 0;
    position: fixed;
}
.footer2{
	padding-top: 5px;
	font-size: 18px;
	color: black;
}
.pop-up{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    display: flex;
}
.isi{
    width: 500px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
.isi p{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 1.3em;
    color:#77b255;
}
.isi a{
    width: 50%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #FFDE59;
    background-color: #FFDE59;
    font-size: 16px;
    color: #234607;
    border-radius: 30px;
    text-decoration: none;
}
.isi img{
    /* width: 9.3%; */
    width: 50%;
    height: 85%;
    padding-top: 25px;
}
@media screen and (max-width: 460px){
    h1{
        font-size: x-large;
    }
    img {
        width: 25%;
        height: 50%;
    }
    nav{
        height: 60px;
    }
    nav ul li{
        padding: 5px;
        font-size: 12px;
    }
    .search{
        margin-left: 10%;
        font-size: 12px;
    }
    .footer2{
        font-size: small;
    }
    .Kontak a img{
        padding-top: 17px;
        height: 20px;
        width: 20px;
    }
    .Kontak{
        background: #4a7e1f;
        width: 100%;
        height: 35px;
        margin-top: 86%;
        padding-left: 32%;
    }
    body{
        background-image: url('background2.png');
    }
    .isi{
        width: 230px;
        height: 200px;
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        font-size: 10px;
    }
    .isi img{
        /* width: 9.3%; */
        width: 30%;
        height: 40%;
        padding-top: 10px;
    }
    .isi a{
        padding: 10px 10px;
        border-radius: 15px;
        font-size: small;
    }
}

