/* Tampilan atas */
*{
    margin:0px;
    padding:0px;
    }
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color:#77b255;
    margin:0;
}
img{
    width: 9.3%;
    height: 93%;
    margin-top: -10px;
    margin-left: auto;
    padding-left: 10px;
    float: left;
}
nav{
    display: flexbox;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    justify-content: space-around;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
}
.cari{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
    justify-content: space-around;
}
.button1{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
    background-image: url("Gambar1.png");
	background-attachment: fixed;
    text-align: center;
}

/* Tampilan Daftar */
form{
    text-align: justify;
    font-size: medium;
    display: block;
    margin: 0px 400px 75px 400px;
    padding: 20px 170px;
    background-color: #FFDE59;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button2{
    border-radius: 5px;
    background: #77b255;
    width: 50px;
    height: 20px;
}
h2{
    text-align: center;
    display: block;
    padding: 5px;
    background-color: #77b255;
    margin: 25px 500px 0px 500px;
    border-radius: 5px;
}
@media screen and (max-width: 460px){
    h1{
        font-size: x-large;
    }
    img {
        width: 25%;
        height: 50%;
    }
    nav{
        height: 60px;
    }
    nav ul li{
        padding: 5px;
        font-size: 14px;
    }
    .search{
        font-size: 14px;
    }
    form{
        margin: 0px 50px 75px 50px;
        padding: 20px 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
    h2{
        margin: 25px 25px 0px 135px;
        width: 160px;
        font-size: medium;
    }

}

