*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color: #77b255;
    margin:0;
}
img {
    width: 8%;
    height: 100px;
    padding-left: 25px;
    margin-top: 5px;
    margin-left: auto;
    float: left;
}
nav{
    display: block;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
	background-image: url('Gambar1.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}
.button{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
.search{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}

h2{
    margin-top: 5%;
}
.about{
	width: 85%;
	color: black;
	font-size: 14pt;
	text-align: justify;
	padding: 3%;
	margin-left: 5%;
}
.story{
	width: 55%;
	margin-left: 23%;
	background-color:#77b255;
	border-radius: 15px;
}
.profil1{
	width: 55%;
	margin-left: 23%;
	background-color:#77b255;
	border-radius: 15px;
}
.profil1 img{
    width: 25%;
    height: 40%;
	margin: 3%;
	padding-left: 16%;
}
.Nama1{
    margin-top: 27%;
    margin-right: 40%;
}