*{
margin:0px;
padding:0px;
box-sizing: border-box;
}
body{
    background-image: url("Gambar1.png");
    background-attachment: fixed;
}
h1{
    text-align: center;
    display: block;
    padding: 35px;
    background-color: #77b255;
    margin: 0; 
}
img{
    width: 10%;
    height: 100%;
    margin-top: -10px;
    margin-left: auto;
    padding-left: 10px;
    float: left;  
}
nav{
    display: block;
    margin: 0;
    height: 60px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.cari{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}
.button1{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
footer{
    background: #FFDE59;
    width: 100%;
    height: 30px;
    text-align: center;
    bottom: 0;
    position: static;
}
.footer2{
    padding-top: 5px;
    font-size: 18px;
    color: black;
}
.column {
    float: left;
    width: 25%;
    padding: 0px 10px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 307,5px;
    height: 222,5px;
}
.row {
    margin: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    box-shadow: 0 4px 8px 0 #000000(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: #ffffff;
}
.tani1{
    width: 265px;
    height: 180px;
}
.tani2{
    width: 265px;
    height: 180px;
}
.tani3{
    width: 265px;
    height: 180px;
}
.tani4{
    width: 265px;
    height: 180px;
}
.tani5{
    width: 265px;
    height: 180px;
}
.tani6{
    width: 265px;
    height: 180px;
}
.tani7{
    width: 265px;
    height: 180px;
}
.tani8{
    width: 265px;
    height: 180px;
}
.tani9{
    width: 265px;
    height: 180px;
}