*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    display: block;
    padding: 35px;
    background-color: #77b255;
    margin:0;
}
img {
    width: 9.3%;
    height: 93%;
    margin-top: -10px;
    margin-left: auto;
    padding-left: 10px;
    float: left;
}
nav{
    display: block;
    margin: 0;
    height: 40px;
    padding: 10px 30px;
    background-color: #FFDE59;
}
ul{
    list-style-type: none;
    margin: 0;
    float:right;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    display: inline;
    margin:0;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
}
body {
	background-image: url('Gambar1.png');
	background-attachment: fixed;
    text-align: center;
}
.button{
    background:#77b255 ;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    border: none;
}
.search{
    margin: 0;
    float:left;
    padding-top: 10px;
    padding-left: 15%;
}

h2{
    margin-top: 5%;
    margin-bottom: 0;
}
.about{
	width: 85%;
	color: black;
	font-size: 14pt;
	text-align: justify;
	padding: 3%;
	margin-left: 5%;
}
.story{
	width: 55%;
	margin-left: 23%;
	background-color:#77b255;
	border-radius: 15px;
}
.foto{
    width: 455px;
    height: 340px;
    margin-left: 32%;
    margin-top: -20px;
}
.Kontak{
    background: #4a7e1f;
    width: 100%;
    height: 60px;
    margin-top: 32%;
    padding-left: -40px;
}
.Kontak a img{
    height: 30px;
    width: 30px;
    margin: auto;
    list-style-position: inside;
    padding: 10px;
    margin: 0;
}
.gabung{
    display: inline-block;
    margin-right: 440px;
    padding: 5px;
}
footer{
	background: #FFDE59;
	width: 100%;
	height: 30px;
	text-align: center;
    bottom: 0;
    position: static;
}
.footer2{
	padding-top: 5px;
	font-size: 18px;
	color: black;
}
